.allPage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.form-80{
  width: 80%;  
}

.form-60{
  width: 60%;  
}

@media (min-width: 680px) {
  .form-80{
    width: 70%;  
  }
}

@media (min-width: 980px) {
  .form-80{
    width: 60%;  
  }

  .form-60{
    width: 50%;  
  }
}